/trunk/
/libs/exclude/
/core/src/test/java/adf/gdx/*.*
!/core/src/test/java/adf/gdx/UtilTest.java
/core/src/main/java/adf/gdx/collision/
/core/src/main/java/adf/gdx/script/
/core/src/main/java/adf/gdx/tools/
/core/src/main/java/adf/gdx/utils/Confetti.java
/core/src/main/java/adf/gdx/BaseAndroidLauncher.java
/core/src/main/java/adf/gdx/Box2DController.java
/core/src/main/java/adf/gdx/DistortionMesh.java
/core/src/main/java/adf/gdx/Randseq.java
/core/src/main/java/adf/gdx/Trail.java
/core/src/main/java/adf/gdx/TrailMesh.java
/assets/data/plasma.frag
/assets/data/pp.frag
/assets/data/starnest.frag
/colors.txt
/android/build/

## Java

*.class
*.war
*.ear
hs_err_pid*

## GWT
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
.idea/
*.ipr
*.iws
*.iml
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/

## OS Specific
.DS_Store
Thumbs.db

